  .topnav .search-container{
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    height: 51px;
    margin-bottom: 10px;
  }

  /* .topnav .search-container {
    float: right;
  } */
  
  .topnav input[type=text] {
    padding: 6px;
    margin: 8px 15px;
    font-size: 17px;
    border: none;
    width: 90%;
  }
  
  .topnav .search-container button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablinks {
    font-size: 15pt;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}