<html>
    <head>
        <title>Add Art Piece</title>
        <style>
                body{ 
                  font-size: 15pt;
                  font-family: arial;
                }
        </style>
    </head>  

    <body>
     <div>
            <form method="POST" action="/add">
                    Name:<br>
                    <input type="text" name="name"><br>
                    Year:<br>
                    <input type="text" name="year"><br>
                    <input type="submit" value="Submit">
                  </form>
     </div>   
    </body>
</html>
